.MapEditor {
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 400px;
  grid-template-rows: 1fr 36px;
  display: grid;
}

.MapViewContainer {
  height: 100%;
  grid-column: 1 / 2;
  grid-row: 1;
}

.SidebarContainer {
  height: 100%;
  grid-column: 2 / 2;
  grid-row: 1;
}

.FooterContainer {
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 2;
}
