h3 {
  margin: 0 0 20px 0;
}

.Sidebar {
  height: 100%;
  width: 100%;
  grid-template-columns: 40px 1fr;
  display: grid;
}

.TabColumn {
  height: 100%;
  grid-column: 1 / 2;
  grid-row: 1;
  background-color: #222;
  color: #fff;
}

.ContentColumn {
  height: 100%;
  grid-column: 2 / 2;
  grid-row: 1;
  background-color: #333;
  color: #fff;
  padding: 30px;
  text-align: left;
}

label {
  padding-right: 10px;
}

input {
  color: white;
  background-color: #444;
  margin-bottom: 10px;
}

input[type='number'] {
  max-width: 60px;
}
